/* Overall page styles */
.contact-page {
  padding: 20px;
  max-height: 100vh;
  background-color: #121212; /* Dark background */
  color: white;
  width: 60%;
}

/* Title style */
.contact-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-description {
  text-align: center;
  margin: 10px 0 20px;
  font-size: 16px;
  color: #f0f0f0; /* Adjust the color to match your theme */
  max-width: 800px; /* Make it narrower for a better visual layout */
  margin-left: auto;
  margin-right: auto; /* Centers the description */
  line-height: 1.6;
}


/* Flexbox layout for the contact form and map */
.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap; /* Makes it stack vertically on smaller screens */
}

/* Same size for both ContactForm and GoogleMap */
.contact-form,
.contact-map {
  flex: 1;
  margin: 10px;
  height: 400px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }

  .contact-form,
  .contact-map {
    width: 100%;
    height: auto;
  }
}
