.intro-text {
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(90deg, white, #8dc2dd, white);
    background-size: 200% 100%; /* Animate across the full width */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorAnimation 6s ease-in-out infinite;
  }

  @keyframes colorAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .hello-wave {
    font-size: 1.5rem;
  }
  
  /* Keyframes for the wave effect */
  @keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); } /* Returns to neutral */
    100% { transform: rotate(0deg); }
  }