.app {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-color: black;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  scroll-behavior: smooth;
}

header.navbar-social-container {
  display: inline-flex;
  justify-content: space-between; /* Ensures the logo, navbar, and social media spread out */
  align-items: center;
  padding: 10px 10px;
  width: 100%;
  height: 8vh;
  background: black; 
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav-social-container {
  display: flex;
  justify-content: flex-end; /* Push nav and social media to the right */
  align-items: center;
  gap: 20px; /* Adds spacing between nav and social media icons */
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Align navbar to the right */
  height: auto;
  margin-right: 20px;
}

.social-media-icons {
  flex: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5vh;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  height: 100%;
}

.logo img {
  height: 10vh; /* Adjust based on desired size */
  object-fit: contain; /* Keeps the aspect ratio */
  padding-left: 0px; /* Add some padding from the left edge */
  border-radius: 50px;
  margin-top: 20px;
  
}


/* General section styling to occupy full viewport */
section {
  min-height: 100vh; /* Ensures each section takes at least the full viewport height */
  padding: 10px 0;  /* Prevent content from touching edges */
  display: flex;     /* Enable flexbox for centering content */
  justify-content: center; /* Horizontally center content */
  align-items: center;     /* Vertically center content */
  /* color: white; */
  background-image: url('./images/bg-6.jpg');
  background-size: cover;
  background-position: center;

}

/* .background-overlay {
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: 999;
} */

.content {
  position: relative;
  z-index: 3;
  flex: 1;
  padding: 0px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 8vh;
  /* background-image: url('./images/10955.jpg'); */
  /* background-color: black; */
  background-size: cover;
  background-position: center;
}

@media (max-width: 992px) {
  /* For small screens, the navbar will collapse into a hamburger */
  .app {
    flex-direction: column; /* Change layout direction */
  }

   .navbar {
    width: 100%; /* Full width */
    height: auto; /* Collapsed navbar */
    position: relative; /* Not fixed */
    padding: 10px;
  }
  .social-media {
    position: relative; /* Not fixed */
    bottom: auto;
    right: auto;
    width: 100%;
    text-align: center; /* Center social media icons */
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  /* Even smaller screens */
  .content {
    padding: 5px;
  }

  .navbar {
    padding: 5px;
  }
}
